{{/* Initialise */}}
{{ $page := .wcPage }}
{{ $block := .wcBlock }}

{{/* Try multiple ways to get the author name, defaulting to 'admin' */}}
{{ $author := $block.Params.author | default "admin" }}

{{ $person_page_path := (printf "/authors/%s" $author) }}
{{ $person_page := site.GetPage $person_page_path }}

{{/* If the page is missing, we log a warning instead of a fatal error */}}
{{ if not $person_page }}
  {{ warnf "Could not find an author page at `%s`. Check the 'author' parameter in your widget." $person_page_path }}
{{ end }}

{{/* Safely grab the params if the page exists, otherwise an empty dictionary */}}
{{ $person := dict }}
{{ if $person_page }}
  {{ $person = $person_page.Params }}
{{ end }}

{{ $avatar := "" }}
{{ if $person_page }}
  {{ $avatar = ($person_page.Resources.ByType "image").GetMatch "*avatar*" }}
{{ end }}

{{ $avatar_shape := site.Params.features.avatar.shape | default "circle" }}

<div>
  <a class="background-img background-display" href="#img1"> 
    <img id="img1" src="{{ "media/background.jpg" | relURL }}" />
  </a>
</div>

<div class="row">
  <div class="col-12 col-lg-4">
    <div id="profile">
      {{ if site.Params.features.avatar.gravatar }}
        <img class="avatar {{if eq $avatar_shape "square"}}avatar-square{{else}}avatar-circle{{end}}" src="https://s.gravatar.com/avatar/{{ md5 $person.email }}?s=270')" alt="{{ $person.title | default "Admin" }}">
      {{ else if $avatar }}
        {{ $avatar_image := $avatar.Fill "270x270 Center" }}
        <img class="avatar {{if eq $avatar_shape "square"}}avatar-square{{else}}avatar-hexagon{{end}}"
             width="{{ $avatar_image.Width }}" height="{{ $avatar_image.Height }}"
             src="{{ $avatar_image.RelPermalink }}" alt="{{ $person.title | default "Admin" }}">
      {{ end }}

      <div class="portrait-title">
        <h2 style="font-size: 1.6em;">
          {{- if $person.name_pronunciation -}}
            <ruby>
              <rb>{{ $person.title | default site.Title }} </rb> <span>, Ph.D.</span>
              <rt>{{ $person.name_pronunciation }}</rt>
            </ruby>
          {{- else -}}
            {{- $person.title | default site.Title -}} <span>, Ph.D.</span>
          {{- end -}}
        </h2>
        {{ with $person.role }}<h3>{{ . | markdownify | emojify }}</h3>{{ end }}
      </div>
      ```
