{{< gallery album="prescovers" >}}

<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script>
  // This function runs once the images are definitely loaded
  window.addEventListener('load', function() {
    var grid = document.querySelector('.gallery');
    if (grid) {
      imagesLoaded(grid, function() {
        // We trigger a window resize event, which forces 
        // Wowchemy's built-in Isotope to recalculate everything
        window.dispatchEvent(new Event('resize'));
        console.log("Gallery overlap fix: Resize event dispatched");
      });
    }
  });
</script>
